#content-proxy {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

@media (min-width: 1200px) {
    body,
    html {
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    body {
        padding-top: 100px;
    }

    #content-proxy {
        top: 100px;
    }

    .col-md-4,
    .col-md-8,
    .container,
    .row {
        height: 100%;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 120px;
    }

    #content-proxy {
        top: 120px;
    }
}

@media (min-width: 1200px) {
    body {
        padding-top: 90px;
    }

    #content-proxy {
        top: 90px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 0;
    }

    #content-proxy {
        top: 120px;
        position: relative;
        height: auto;
    }

    .navbar.navbar-fixed-top {
        position: relative;
    }
}

.full-height {
    height: 100%;
}

.navbar .navbar-inner .container {
    h1 {
        float: left;
    }

    p {
        display: inline-block;
        margin-right: 20px;
    }
    a {
        height: 24px;
        line-height: 24px;
        img {
            display: none;
        }
    }
}

.content {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    iframe {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        @media (min-width: 1200px) {
            height: 100%;
        }
        background-color: #FFF;
    }
}

#header {
    position: relative;
    left: 0;
    color: #666;
    @media (min-width: 1200px) {
        line-height: 30px;
    }
    h1 {
        margin-top: 15px;
        float: left;
        small {
            margin-left: 10px;
            color: #888;
        }
    }
    .items {
        @media (min-width: 768px) {
            height: 32px;
            line-height: 32px;
            float: none;
            clear: both;
        }

        @media (min-width: 1200px) {
            height: 70px;
            line-height: 70px;
            float: right;
            clear: none;
        }

        @media (max-width: 768px) {
            float: none;
            clear: both;
            .osc_fork_widget,
            .osc_star_widget,
            .top-nav-item {
                float: none;
            }
        }

        padding: 5px;
        box-sizing: border-box;
        .osc_fork_widget,
        .osc_star_widget,
        .top-nav-item {
            float: left;
            margin: 0 5px;
            a {
                font-size: 14px;
                text-decoration: none;
                margin-left: 5px;
                border-radius: 5px;
                padding: 0 6px;
                font-weight: normal;
                line-height: 28px;
                height: 28px;
                display: inline-block;
                border: none;
                color: #08c;
                &:hover,
                &:not([href]) {
                    background-color: #EEE;
                }
                img {
                    display: none;
                }
            }
        }
        .osc_fork_widget,
        .osc_star_widget {
            a {
                position: relative;
                &:after {
                    content: ' ';
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #ec6d6d;
                    box-shadow: rgba(0, 0, 0, .2) 1px 1px;
                }
                .fork-content,
                .star-content {
                    box-shadow: none;
                    font-weight: bolder;
                    display: inline;
                    min-width: 20px;

                    .left-content,
                    .right-content {
                        height: auto;
                        width: auto;
                        float: none;
                        display: inline-block;
                    }
                    .left-content {
                        display: none;
                    }
                    .right-content {
                        font-size: 14px;
                        text-decoration: none;
                        margin-left: 5px;
                        border-radius: 5px;
                        padding: 0 6px;
                        font-weight: normal;
                        line-height: 28px;
                        height: 28px;
                        background: none !important;
                        color: inherit;
                        text-shadow: none;

                        &:hover {
                            color: #08c;
                        }
                    }
                }
            }
        }
    }
}
